@import '../../variables';

.combo_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    height: auto;
    margin: 0 10% 5% 10%;
    row-gap: 50px;
    column-gap: 30px;   
    position: relative;
    justify-items: space-around;
}

.bg-combo {
    position: absolute;
    top: -58%;
    bottom: -10%;
    right: -10%;
    background-color: $grey;
    width: 35%;
    z-index: -1;
    @media only screen and (max-width: 790px) {
        top: -10%; 
    }
    @media only screen and (max-width: 628px) {
        top: -5%; 
        //right: -30%;
        
    }
    @media only screen and (max-width: 436px) {
        display: none;
    }
}