@import '../../variables';

.combo-item {
    &_container {
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        padding: 5% 10%;
        text-align: center;
        @include item-box;
    }
    &_img img{
        max-width: 150px;
        margin-right: 5%;
        margin-bottom: 10%;
        cursor: pointer;
    }
    &_price {
        @include price;
        & span {
            color: $dark;
            font-style: italic;
            font-weight: 300;
            font-size: 85%;
            line-height: 85%;
            text-decoration-line: line-through;
            margin-left: 10%;;
        }
    }
    &_title {
        @include title;   
        margin-bottom: 5%; 
    }
    &_content {
        @include content;
        margin: 10% auto;
    }
    &_details a {
        @include details;
        //margin-left: 10%;

    }
    &_btn {
        @include btn;
        &.hidden {
            display: none;
        }
        &_viewcart {
            @include btn-viewCart;
        }
    }
}
