@import '../../variables';
@import '../item-detail/item-detail.scss';

.cart {
    &_container {
        @include appear;
        @include item-box;
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        max-width: 700px;
        margin: 5% auto;
        
        padding-bottom: 3rem;
    }
    &_title {
        @include title;
        margin-bottom: 5%;
        text-align: center;
    }

    &_btn {
        @include btn;
        margin-top: 5%;
        margin-right: 10%;
        float: right;
        text-decoration: none;
        text-align: center;
    }
    
    &_continue {
        padding-top: 5%;;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        @include details;
        text-align: left;
        margin-left: 10%;
        & a {
            text-decoration: none;
            color: $dark;
            &:focus {
                text-decoration: underline;
            }
        }
        
    }
    &_total {
        font-weight: bold;
        font-size: 20px;
        margin-top: 5%;
        text-align: right;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    &_item {
        font-size: 16px;
        margin-bottom: 5%;
        @media only screen and (max-width: 380px) { //570px
            margin-bottom: 10%;
        } 
        display: grid;
        gap: 1rem;
        grid-template-columns:repeat(3, 1fr); //4fr 6fr 1fr; repeat(3, 1fr)
        @media only screen and (max-width: 600px) { //570px
            grid-template-columns: 4fr 6fr 1fr;
            gap: 0.8rem;
        }     
        justify-items: center;
        &_delete {
            margin-top: 10%;
            cursor: pointer;
            & i {
                font-size: 24px;
            }
        }
        &_title {
            @include title;
            font-size: 16px;
            text-align: center;
        }
        &_price {
            padding-top: 5%;
            padding-bottom: 5%;
            font-size: 16px;
            font-weight: 400;
        }
        &_qty {
            font-size: 16px;
            font-weight: 400;
            &_number {
                display: inline-block;
                padding: 0 4%;
            }
        }
        &_img img{
            max-width: 100px;
        }
    }  
}

.plus, .minus {
    background-color: $grey;
    color: $light;
    width: 25px;
}

