@import '../../variables';

.menu_container {
    background-color: $background;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    height: auto;
    margin: 0 10%;
    row-gap: 50px;
    column-gap: 30px;
}