
.error {
    background: url('../../img/error.jpg') no-repeat center center;
    height:70vh;
    text-align: center;
    color:red;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem auto;
}