@import '../../variables';

.wrapper {
    @include item-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    & .cart {
        &_container {
            max-height: 70vh;
            overflow-y: scroll;
        }    
        &_btn, &_continue {
            display: none;
        }
    }
}

.order {
    &_container {
        @include appear;
        font-family: Nunito, sans-serif;
        background-color: $background;
        color: $grey;
        @include item-box;
        text-align: center;
        max-width: 800px;
        margin: 2% 5%;
        position: relative;
    }
    &_form-field {
        margin: 3%;
    }

    &_title {
        @include title;
        padding-top: 5%;

    }
    &_instructions {
        padding: 0 5% 5% 5%;
        text-align: justify;
    }
    &_btn {
        @include btn;
        //margin: 0 auto 5% auto;
        margin-right: 10%;
        float: right;
        margin-bottom: 5%;
    }
    &_back {
        cursor: pointer;
        text-align: right;
        font-weight: bold;
        padding: 0 5% 5% 0;
        @include details;
        text-align: left;
        margin-left: 10%;
        & a {
            text-decoration: none;
            color: black;
        }
    }
}

.fail {
    color: red;
    margin: 0 5% 5% 25%;
}