@import '../../variables';

.wrapper {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    & .cart {
        &_container {
            margin: 2% 5%;
            overflow-y: scroll;
        }    
        &_btn, &_continue {
            display: none;
        }
    }
}

.order {
    &_container {
        @include appear;
        @include item-box;
        font-family: Nunito, sans-serif;
        background-color: $background;
        color: $dark;
        text-align: center;
        max-width: 800px;
        margin: 2% 5%;
        position: relative;
        @media (max-width: 380px) { //570px
            margin: 2% auto;
        } 
    }
    &_form-field {
        margin: 3%;
        & input {
            margin-left: 0.5rem;
        }
    }

    &_title {
        @include title;
        padding-top: 5%;

    }
    &_instructions {
        padding: 0 5% 5% 5%;
        text-align: justify;
    }
    &_btn {
        @include btn;
        margin-right: 5%;
        float: right;
        margin-bottom: 5%;
    }
    &_back {
        @include details;
        cursor: pointer;
        text-align: right;
        font-weight: bold;
        padding: 0 5% 5% 0;
        text-align: left;
        margin-left: 5%;
        & a {
            text-decoration: none;
            color: $dark;
        }
    }
}

.fail {
    color: red;
    margin: 0 5% 5% 25%;
}