@import '../../variables';

.beverages_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    height: auto;
    margin: 0 10%;
    row-gap: 20px;
    column-gap: 20px;
    position: relative;
    background-color: $background;
}
