@import '../../variables';

.thank-you {
    &_container {
        @include appear;
        @include item-box;
        font-family: Nunito, sans-serif;
        background-color: $background;
        color: $grey;
        text-align: center;
        max-width: 800px;
        margin: 5% auto;
        @media (min-width: 1040px) { //570px
            width: 60%;
        }  
        @media (max-width: 523px) {
            margin: 15% auto;
        }
    }
    &_title {
        @include title;
        padding-top: 5%;

    }
    &_text {
        padding: 0 5%;
        text-align: justify;
        & span {
            font-weight: bold;
        }
    }
    &_back {
        @include details;
        cursor: pointer;
        text-align: right;
        font-weight: bold;
        padding: 0 5% 10% 0;
        & a {
            text-decoration: none;
            color: black;
        }
    }
    & span {
        font-weight: bold;
    }
}