@import '../../variables';

.app_container {
    margin: 0 10%; // не работает. Почему?
    @media only screen and (max-width: 1600px) {
        margin: 0;
    }
    /* display: flex;
    flex-direction: column */;
}
.app_content {
    //flex: 1 0 auto;
    min-height: 80vh;
}