
.modal {
    &_container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        //display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,.5);
    }
    
    &_dialog {
        max-width: 500px;
        margin: 40px auto;
    }
    &_content {
        position: relative;
        width: 100%;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 4px;
        max-height: 80vh;
        overflow-y: auto;
    }
    &_close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #000;
        opacity: .5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &_title {
        text-align: center;
        font-size: 22px;
        //text-transform: uppercase;
    }
}