@import '../../variables';

.item-detail {
    &_container {
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        display: grid;
        grid-template-columns: 4fr 8fr;
        padding: 5%;
        margin: 5% 10%;
        @include item-box;
    }
    &_img img{
        max-width: 150px;
    }
    &_title {
        @include title;
        margin-bottom: 5%;
    }
    &_price {
        @include price;     
    }
    &_text {
        margin-top: 0;
    }
    &_btn {
        @include btn;
        &.hidden {
            display: none;
        }
        &_viewcart {
            @include btn-viewCart;
            margin-top: 5%;
        }
    }
}

.hidden {
    display: none;
}