@import '../../scss/mixins';

.item-detail {
    &_container {
        @include appear;
        @include item-box;
        position: relative;
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        margin: 5% auto;
        max-width: 700px;
        @media (min-width: 1040px) { //570px
            width: 60%;
        } 
    }
    &_img {
        & img{
            @include img;
            max-width: 130px;
            padding-right: 5%;
        }
    }
    
    &_title {
        @include title;
        margin-bottom: 5%;
    }
    &_price {
        @include price;     
    }
    &_text {
        @include content;
        margin: 7% auto;
        display: block;
    }
    &_btn {
        @include btn;
        margin-left: 5%;
        margin-bottom: 5%;
        &.hidden {
            display: none;
        }
        &_viewcart {
            @include btn-viewCart;
            margin-left: 5%;
            margin-bottom: 5%;
        }
    }
    &_back {
        @include details;
        margin-left: 10%;
    }
    &_msg-btn-box {
        position: relative;
        &_message {
            position: absolute;
            color: #1e8731;
            top: -1.5rem;
            left: 7%;
            font-size: .8rem;
            font-weight: bold;
        }
    }
}

