@import '../../variables';

.nav {
    &_burger {
        @media only screen and (max-width: 942px) {
            display: block;
            text-align: center;
            margin-top: 15%;
            color: $light;
            font-size: 30px;
            cursor: pointer;
        }
        display: none;
    }
    &_menu {
        @media only screen and (max-width: 942px) {
            display: none;
        }
        list-style-type: none;
        position: absolute;
        left: 5%;
        top: 25%;
        & li, & li a {
            text-decoration: none;
            color: $light;
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: 100;
            font-size: 16px;
            line-height: 24px;
            line-height: 250%;
            cursor: pointer;
            &:hover {
                padding: 10px;
                background-color: $light;
                color: $grey;
            }
            & span {
                font-family: Montserrat, sans-serif;
                font-weight: 800;
                font-size: 150%;
            }
        }  
        &_sidebar {
            //display: none;
            z-index: 5;
            margin-left: -50%;
            list-style-type: none;
            //width: 0;
            & li a {
                display: none;
            }
            &.active {
                transition: .7s;
                transform: translateX(-25%);
                width: 50vw;
                display: block;
                background-color: $grey;
                list-style-type: none;
                position: absolute;
                right: 5%;
                top: 10%;
                & li a {
                    display: inherit;
                    text-decoration: none;
                    color: $light;
                    font-family: Nunito, sans-serif;
                    font-style: normal;
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 24px;
                    line-height: 300%;
                    @media only screen and (max-width: 360px) {
                        font-size: 14px;
                        line-height: 18px;
                        line-height: 250%;
                    }
                    &:hover {
                        padding: 10px;
                        background-color: $light;
                        color: $grey;
                    }
                    & span {
                        font-family: Montserrat, sans-serif;
                        font-weight: 800;
                        font-size: 130%;
                    }
                }
            }
        }
    }
}





