@import '../../variables';

.heading {
    color: $grey;
    text-align: center;
    height: 15vh;
    margin-top: 5%;
    margin-bottom: 5&;
    padding: 5% 0 5% 0;
    &_small {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        /* or 120% */
    }
    &_big {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 130%;
        line-height: 34px;
        /* or 113% */
    }
}