@import '../../variables';

.giftset {
    color: $dark;
    &_container {
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        position: relative;
        height: 69vh;
        margin: 0 10%;
        @media only screen and (max-width: 902px) {
            margin: 0;
            height: 60vh;
        }
    }
    &_tabs {
        position: absolute;
        right: 0%;
        top: 0%;
        bottom: 0%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        &_item {   
            width: 88px;
            @media only screen and (max-width: 902px) {
                width: 50px;
            }
            height: auto;
            text-align: center;
            box-sizing: border-box;
            padding-top: 50%;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 34px;
            /* identical to box height, or 113% */
            color: grey;
            background-color: $light;
            cursor: pointer;
            &.active {
                background-color: #fff;
                color: $grey;
            }
        }
    }
    
}

.bg-giftset {
    background-color: $light;
    position: absolute;
    top: -55%;
    bottom: -10%;
    left: -10%;
    z-index: -1;
    width: 85%;
}
