@import '../../variables';

.giftset {
    color: $dark;
    &_container {
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        position: relative;
        height: 69vh;
        //margin: 0 10%;
    }
    &_tabs {
        position: absolute;
        right: 0%;
        top: 0%;
        bottom: 0%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        &_item {   
            width: 88px;
            height: auto;
            text-align: center;
            box-sizing: border-box;
            padding-top: 50%;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 34px;
            /* identical to box height, or 113% */
            color: grey;
            background-color: $light;
            //border: 0.1px solid grey;
            &.active {
                background-color: #fff;
                color: $grey;
            }
        }
    }
    
}
