@import '../../variables';

.home_container {
    display: grid;
    @media only screen and (max-width: 942px) {
        grid-template-columns: 3fr 7fr 2fr;
        height: 40vh;
    }
    grid-template-columns: 3fr 6fr 3fr; /* try auto-fill */
    height: 60vh;
}

.home-image {
    background: url(../../img/home.png) no-repeat center center fixed;
    background-size: cover;
}

.right {
    background: $grey;
}

.block {
    position: relative;
}
.moto {
    @media only screen and (max-width: 942px) {
        font-size: 30px;
        line-height: 45px;
    }

    @media only screen and (max-width: 320px) {
        font-size: 20px;
        line-height: 35px;
    }
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    /* or 130% */
    color: $grey;
    & span {
        background: $beige;
        color: $light;
    }
}
    
.cart {
    background-color: $grey;
    position: fixed;
    right: 1%;
    padding: 1%;
    border-radius: 3px;
    @media only screen and (max-width: 942px) {
        margin-top:10%;
    }
    @media only screen and (max-width: 430px) {
        margin-top:15%;
        width: 35px;
        font-size: 80%;
    }
    margin-top:2%;
    text-align: center;
    color: $light;
    &_image {
        max-width: 40px;
        cursor: pointer;
    }
    &__total {
        display: block;
    }
    z-index: 3;
}

.up {
    z-index: 3;
    width: 30px;
    height: 40px;
    position: fixed;
    bottom: 5%;
    right: 1%;
    border-radius: 3px;
    background-color: $grey;
    text-align: center;
    font-size: 150%;   
    border: 1px solid $light;
    & a {
        text-decoration: none;
        color: $light;
    }
}