@import '../../variables';

.home_container {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr; /* try auto-fill */
    height: 768px;
}

.home-image {
    background: url(../../img/home.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right {
    background: $grey;
}

.block {
    position: relative;
}
.moto {
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    /* or 130% */
    color: $grey;
    & span {
        background: $beige;
        color: $light;
    }
}
    
/* .left {

} */