@import '../../variables';

.home_container {
    display: grid;
    @media only screen and (max-width: 942px) {
        grid-template-columns: 3fr 7fr 2fr;
        height: 40vh;
    }
    grid-template-columns: 3fr 6fr 3fr; /* try auto-fill */
    height: 60vh;
}

.home-image {
    background: url(../../img/home.png) no-repeat center center;
    background-size: cover;
}

.right {
    background: $grey;
    position: relative;
}

.block {
    position: relative;
}
.moto {
    @media only screen and (max-width: 942px) {
        font-size: 30px;
        line-height: 45px;
    }

    @media only screen and (max-width: 320px) {
        font-size: 20px;
        line-height: 35px;
    }
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    /* or 130% */
    color: $grey;
    & span {
        background: $beige;
        color: $light;
    }
}
    
.cart {
    background-color: $grey;
    position: fixed;
    right: 1%;
    padding: 1%;
    border-radius: 3px;
    font-family: Nunito, sans-serif;
    @media only screen and (max-width: 942px) {
        margin-top:10%;
    }
    @media only screen and (min-width: 1650px) {
        margin-top:2%;
        margin-right: 10%;
    }
    @media only screen and (max-width: 430px) {
        margin-top:15%;
        margin-right: 1%;;
        width: 40px;
        font-size: 80%;
    }
    margin-top:2%;
    text-align: center;
    color: $light;
    &_image {
        max-width: 40px;
        cursor: pointer;
    }
    & a {
        text-decoration: none;
        color: $light;
    }
    &__total {
        display: block;
    }
    z-index: 3;
}

.up {
    z-index: 3;
    width: 30px;
    height: 40px;
    position: fixed;
    bottom: 5%;
    right: 1%;
    border-radius: 3px;
    background-color: $grey;
    text-align: center;
    padding-top: 0.5rem;;
    font-size: 150%;   
    border: 1px solid $light;
    color: $light;
    cursor: pointer;
}

.homelink {
    text-decoration: none;
    color: $light;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 200%;
    line-height: 150%;
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    right: 5%;
    &:hover {
        background-color: $light;
        color: $grey;
    }
    @media only screen and (max-width: 1040px) { //570px
        display: none;
    }             
}
.homeicon {
    text-decoration: none; 
}

.fa-home {
    display: none;
    @media only screen and (max-width: 1040px) { //570px
        display: block;
        color: $light;
        font-size: 300%;
        text-align: center;
        margin-top: 200%;
        cursor: pointer;
    }  
    @media only screen and (max-width: 570px) {
        display: block;
        color: $light;
        font-size: 300%;
        text-align: center;
        margin-top: 250%;   
        cursor: pointer;   
    }
}
