@import '../../scss/mixins';

.beverage-item {
    padding: 5% 10%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    @include fz-text-basic;
    text-align: center;
    color: $dark;

    &_title {
        font-style: bold;
        font-size: 150%;
    }
    & img {
        width: 40%;
    }
}

