@import '../../variables';

.menu-item {
    &_container {
        @include appear;
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        padding: 5%;
        @include item-box;
    }
    &_img {
        & img {
            @include img;
            cursor: pointer;
        }
    }
    &_price {
        @include price;
    }
    &_title {
        @include title;  
    }
    &_content {
        @include content;
        margin: 7% auto;
        display: block;
    }
    &_details {
        & a {
            @include details;
        }
    }
    &_btns {
        display: block;

    }
    &_btn {
        @include btn;
        &.hidden {
            display: none;
        }
        &_viewcart {
            @include btn-viewCart;
        }
    }
}

.message {
    /* grid-column: 1/6;
    grid-row: 9/10; */
    font-size: .8rem;
    /* @media only screen and (max-width: 420px) {
        grid-column: 1/6;
        grid-row: 9/10;
    } */
}