@import '../../variables';

.menu-item {
    &_container {
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        padding: 5%;
        @include item-box;
    }
    &_img img{
        width: 150px;
        float: left;
        margin-right: 5%;
    }
    &_price {
        color: $beige;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 2%;
        /* identical to box height, or 120% */
    }
    &_title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */     
    }
    &_content {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        margin: 7% auto;
    }
    &_details a {
        text-decoration: none;
        color: $dark;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin-left: 5%;
        /* identical to box height */
    }
    &_btn {
        font-family: Nunito, sans-serif;
        //font-style: normal;
        background-color: $beige;
        color: $light;
        border-radius: 19px;
        float: left;
        padding: 7px;
        margin-right: 5px;
    }
}
