@import '../../variables';

.menu-item {
    &_container {
        color: $dark;
        font-family: Nunito, sans-serif;
        font-style: normal;
        padding: 5%;
        @include item-box;
    }
    &_img img{
        @include img;
    }
    &_price {
        @include price;
    }
    &_title {
        @include title;    
    }
    &_content {
        @include content;
        margin: 7% auto;
    }
    &_details {
        @include details;
    }
    &_btn {
        @include btn;
    }
}
