@import '../../variables';

.footer {
    &_container {
        background-color: $grey;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: Nunito, sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 137% */
        padding: 5% 30%;
        color: $light;
        //width: auto;
        & a {
            color: $light;
        }
    }
    
}