@import '../../variables';

.footer {
    &_container {
        background-color: $grey;
        color: $light;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;

        font-family: Nunito, sans-serif;
        font-style: italic;
        font-weight: 500;
        @include fz-text-basic;  
        padding: 5% 10%;

        & a {
            color: $light;
        }
    }
    
}