$grey: #415167;
$beige: #C7A17A;
$light: #EDF0F5;
$dark: #151D28;
$background: #fcfcfc;

//font-sizes
@mixin fz-price-basic {
    font-size: 20px;
    line-height: 24px;
}

@mixin fz-title-basic {
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
}

@mixin fz-text-basic {
    font-size: 16px;
    line-height: 22px;
}

@mixin fz-price-small {
    font-size: 18px;
    line-height: 21px;
}

@mixin fz-title-small {
    font-size: 21px;
    line-height: 25px;
    /* identical to box height, or 117% */
}

@mixin fz-text-small {
    font-size: 14px;
    line-height: 19px;
}

//modal
@mixin modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    color: $dark;
    font-family: Nunito, sans-serif;
    font-style: normal;
}

@mixin modal-dialog {
    max-width: 500px;
    margin: 5% auto;
    z-index:3;
}

@mixin modal-content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;

    @include content;
    margin: 7% auto;
}

@mixin close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

//box elements
@mixin content {
    font-weight: 300;
    @include fz-text-basic;
}

@mixin img {
    max-width: 150px;
    float: left;
    margin-right: 5%;
    margin-bottom: 10%;
}

@mixin details {
    text-decoration: none;
    color: $dark;
    font-weight: bold;
    @include fz-text-basic;
    cursor: pointer;
}

@mixin title {
    font-weight: bold;
    @include fz-title-basic;
     
}

@mixin price {
    color: $beige;
    font-weight: 600;
    @include fz-price-basic;
    margin-bottom: 2%;
    /* identical to box height, or 120% */
}

@mixin btn {
    font-family: Nunito, sans-serif;
    background-color: $beige;
    color: $light;
    border-radius: 19px;
    float: left;
    padding: 7px;
    margin-right: 10%;
    cursor: pointer;
}

@mixin btn-viewCart {
    @include btn;
    //margin-top: 5%;
    background-color: $grey;
    &.hidden {
        display: none;
    }
    & a {
        text-decoration: none;
        color: $light;
    }
}

@mixin item-box {
    background-color: #fff;
    border-radius: 5px;;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 5px rgb(185, 185, 185)
}

.message {
    color: green;
    text-align: left;
}
body {
    background-color: $background;
    /* width: 1033px;
    margin: 0 auto; */
}