$grey: #415167;
$beige: #C7A17A;
$light: #EDF0F5;
$dark: #151D28;
$background: #fcfcfc;

//Animations
@mixin appear {
    animation: appear 1.5s;
    @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
        }
}

//font-sizes
@mixin fz-price-basic {
    font-size: 20px;
    line-height: 24px;
}

@mixin fz-title-basic {
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 117% */
}

@mixin fz-text-basic {
    font-size: 16px;
    line-height: 22px;
}

@mixin fz-price-small {
    font-size: 18px;
    line-height: 21px;
}

@mixin fz-title-small {
    font-size: 21px;
    line-height: 25px;
    /* identical to box height, or 117% */
}

@mixin fz-text-small {
    font-size: 14px;
    line-height: 19px;
}

//box elements
@mixin content {
    @include fz-text-basic;
    font-weight: 300;
    min-height: 5rem;
}

@mixin img {
    max-width: 150px;
    float: left;
    margin-right: 5%;
    margin-bottom: 10%;
}

@mixin details {
    @include fz-text-basic;
    text-decoration: none;
    color: $dark;
    font-weight: bold;
    cursor: pointer;
    &:active {
        text-decoration: underline;
    }
}

@mixin title {
    @include fz-title-basic;
    font-weight: bold;
     
}

@mixin price {
    @include fz-price-basic;
    color: $beige;
    font-weight: 600;
    margin-bottom: 2%;
    /* identical to box height, or 120% */
}

@mixin btn {
    font-family: Nunito, sans-serif;
    background-color: $beige;
    color: $light;
    border-radius: 19px;
    float: left;
    font-size: 16px;
    padding: 10px;
    margin-right: 10%;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 10px 3px rgb(185, 185, 185);
}

@mixin btn-viewCart {
    @include btn;
    background-color: $grey;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $light;
    & a {
        text-decoration: none;
        color: $light;
    }
    &.hidden {
        display: none;
    }
}

@mixin item-box {
    background-color: #fff;
    border-radius: 5px;;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 5px rgb(185, 185, 185);
    padding: 2rem;
}

body {
    background-color: $background;
    max-width: 1400px;
    margin: 0 auto;
}

.errMess {
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
}

.successMess {
    color: green;
    font-weight: bold;
    font-size: 0.9rem;
}

@mixin signup {
    &.wrapper {
        @include appear;
        @include item-box;
        display: flex;
        flex-direction: column;
        margin: 2% auto;
        justify-self: center;
        font-family: Nunito, sans-serif;
        background-color: $background;
        color: $dark;
        text-align: center;
        max-width: 600px;
        position: relative;
        /* @media (max-width: 380px) {
            margin: 2% auto;
        }  */
    }
    &.form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        gap: .8rem;
        &-field {
            display: flex;
            gap: .3rem;
            justify-content: space-between; 
            @media (max-width: 430px) {
                padding-left: 0;
            }
            & input {
                width:70%;
            }
        }
    }
    &_title {
        @include title;
    }
    &_btn {
        @include btn;
        margin: 1rem auto;
    }
    &_back {
        @include details;
        cursor: pointer;
        text-align: right;
        font-weight: bold;
        padding: 0 5% 5% 0;
        text-align: left;
        margin-left: 5%;
        & a {
            text-decoration: none;
            color: $dark;
        }
    }
}
