@import '../../variables';

.giftset {
    color: $dark;
    &_wrapper {
        position: relative;
    }
    &-item {
        position: relative;
        &_msg-btn-box {
        position: relative;
            &_message {
                position: absolute;
                color: #1e8731;
                top: -.4rem;
                left: .6rem;
                font-size: .8rem;
                font-weight: bold;
            }
        }
    }
    &_content {
        @include appear;
        //height: auto;
        position: absolute;
        left: 22.5%;
        //right: 7.73%;
        top: 0.43%;
        bottom: 0.22%;
        padding: 5% 10% 5% 20%;
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 5px 5px 15px 5px rgb(185, 185, 185);

        @media (max-width: 560px) {
            padding: 50% 20% 55% 10%;
            left: 5%;
        }
        /* @media (max-width: 355px) {
            padding-bottom: 10%;
        } */
    }
    &_img{
        position: absolute;
        cursor: pointer;
        left: 2%;
        right: 59.31%;
        top: 11.45%;
        @media only screen and (max-width: 560px) {
            top: 5%;
            left: 10%;
            width: 45%;
            margin-left: 15%;
        }
        //bottom: -1.3%;
        background-repeat: no-repeat;
        border-radius: 5px;
        z-index:2;
        & img {
            @include appear;
            max-width: 90%;
        }
    }
    &_price {
        @include price;
    }
    &_title {
        @include title;    
    }
    &_text {
        @include content;
        margin: 7% 2% 10% auto;
    }
    &_details a {
        @include details;
        margin-left: 60%;
        display: block;
        margin-top: 8%;
    }
    &_btns {
        @include btns-box;
        @media (max-width: 400px) {
            justify-content: flex-start;
            left: 0;
            bottom: 3%;
        }
    }
    &_btn {
        @include btn;
        margin-top: 5%;
        &.hidden {
            display: none;
        }
        &_viewcart {
            @include btn-viewCart;
            margin-top: 5%;
        }
    }
    
}

