@import '../../variables';

.giftset {
    color: $dark;
    /* &_item {
        display:none;
        &.active {
            display: '';
        }
    } */
    &_content {
        position: absolute;
        left: 22.5%;
        //right: 7.73%;
        top: 0.43%;
        bottom: 0.22%;
        padding: 5% 10% 5% 20%;
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        box-shadow: 5px 5px 15px 5px rgb(185, 185, 185);
    }
    &_img{
        position: absolute;
        left: 0%;
        right: 59.31%;
        top: 11.45%;
        //bottom: -1.3%;
        //background: url('../../img/giftset.png');
        background-repeat: no-repeat;
        border-radius: 5px;
        z-index:2;
        & img {
            max-width: 90%;
        }
    }
    &_price {
        color: $beige;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 2%;
        /* identical to box height, or 120% */
    }
    &_title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */     
    }
    &_text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        margin: 7% 2% 2% auto;
    }
    &_details a {
        text-decoration: none;
        color: $dark;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin-left: 5%;
        /* identical to box height */
    }
    &_btn {
        font-family: Nunito, sans-serif;
        //font-style: normal;
        background-color: $beige;
        color: $light;
        border-radius: 19px;
        float: left;
        padding: 7px;
        margin-right: 5px;
    }
}